**/.terraform
**/.terraform.lock.hcl
terraform.tfstate*
**/terraform.tfstate.backup
terraform.tfstate.backup*
terraform.tfstate.backup
.terraform.tfstate*
.tfstate*
terraform.log*
tfplan.txt
conf
terraformconfig.conf

